@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    background-color: #5e5955;
    text-align: center;
    color: white;
}

.view1 {
    height: 100%;
    position: relative;
    top: 70px;
}

.block {
    height: 150px;
    width: 33.3%;
    border: 1px solid white;
}

.text-decoration {
    text-align: center;
    color: #7c8c6c;
}

.card {
    width: 650px;
}

.card-color {
    background-color: #4a433b;
}

.button-player1 {
    width: 75px;
    height: 75px;
    border: none;
    color: #e5db82;
    background-color: #413a34;
}

.button-player1:hover {
    background-color: #5a5550;
}

.button-player2 {
    width: 75px;
    height: 75px;
    border: none;
    color: #43a6d5;
    background-color: #413a34;
}

.button-player2:hover {
    background-color: #5a5550;
}

.border-top {
    border-top: 1px solid #7a7a7a !important;
}

.border-bottom {
    border-bottom: 1px solid #7a7a7a !important;
}

.border-right {
    border-right: 1px solid #7a7a7a !important;
}

.border-left {
    border-left: 1px solid #7a7a7a !important;
}